h1 {
  border: outset 20px #cc00aa;
  color:#ffcb00;
  font-family: "Courier New", Times;
  text-align: center;
  background: #BBBBBB;
  }
h2 {
  border: dotted 40px;
  color:#0000ff;
  font-family: cursive, Times;
  text-align: center;
  font-variant: small-caps;
  background: #BBBBBB;
  }

  header{
    border: solid;
  	background: #BBBBBB;
    margin-bottom: 2%;
  }

 body {
  border: groove;
  background-color:#d4ffeda8;
  font-size: 125%;
  margin: 4px;
 }

 p {
  text-align: center;
  border: solid;
 	font-style: oblique;
  float: left;
  width: 30%;
  margin: 1%;
  background-color: #ceaac8;
 }

 footer {
  clear: none;
  display: inline-block;
 	background: #BBBBBB;
  margin-top: 2%;
  width: 100%;
 }

a:hover {
  background: #B3B3B3;
  color: #0006CC;
}

a:focus {
  background: #B3B3B3;
  color: #0006CC;
}
